<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <!-- note the ng-init and ng-click here: -->
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-ui-sref="admin.dashboard">VaDmin</a>
            </div>
            <!-- note the ng-class here -->
            <div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a data-ui-sref="admin.scheduler">Планировщик</a></li>
                    <li class="dropdown" data-ng-class="{active: isLogRoute()}">
                        <a href="#" class="dropdown-toggle">Логи <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-ui-sref="admin.systemLog">Системный лог</a></li>
                            <li><a data-ui-sref="admin.auditLog">Аудит-лог</a></li>
                            <li><a data-ui-sref="admin.transactionLog">Лог транзакций</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" data-ng-class="{active: isDataManagementRoute()}">
                        <a href="#" class="dropdown-toggle">Управление данными <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-ui-sref="admin.userManagement.list">Пользователи</a></li>
                            <li><a data-ui-sref="admin.cardManagement.list">Карт-счета</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                            <div class="text-primary">{{user.name}} <span class="caret"></span></div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-click="logout()"><a>Выйти из системы</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div data-ui-view="">
    </div>
</div>
