<section class="row offset-bottom">
    <div class="col-xs-9">
        <div class="form-inline log-filters">
            <div class="form-group from-filter">
                <label>От</label>
                <vb-datepicker data-ng-model="filter.from.value" data-config="{minView: 'day'}" data-date-format="YYYY-MM-DD"></vb-datepicker>
            </div>
            <div class="form-group to-filter">
                <label>До</label>
                <vb-datepicker data-ng-model="filter.to.value" data-config="{minView: 'day'}" data-date-format="YYYY-MM-DD"></vb-datepicker>
            </div>
            <div class="form-group">
                <label>Тип</label>
                <div data-multi-select
                     input-model="lookups.types"
                     button-label="label"
                     item-label="label"
                     tick-property="ticked"
                     selection-mode="single">
                </div>
            </div>
            <div class="form-group">
                <label>Уровни</label>
                <div data-multi-select
                     input-model="lookups.levels"
                     default-label="Any"
                     button-label="label"
                     item-label="label"
                     tick-property="ticked"
                     helper-elements="all reset"
                     max-labels="1">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="btn-toolbar pull-right" role="toolbar">
            <button class="btn btn-danger"
                    ng-disabled="!canClear()"
                    vb-confirm-click="clear()" 
                    vb-confirm="Вы действительно хотите очистить выбранные логи ({{displayedLogs.length}} шт.)?">
                Очистить
            </button>
            <button class="btn btn-primary" ng-click="show()">Показать</button>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-xs-12">
        <table class="table table-responsive" st-table="displayedLogs" st-safe-src="logs">
            <thead>
                <tr>
                    <th st-sort="eventId" style="width: 70px">ID</th>
                    <th st-sort="timestampUtc" st-sort-default="reverse" style="width: 220px">Локальное Время</th>
                    <th st-sort="type">Тип</th>
                    <th st-sort="level" style="width: 150px">Уровень</th>
                    <th st-sort="user">Пользователь</th>
                    <th st-sort="message">Сообщение</th>
                    <th style="width: 50px">Подробно</th>
                </tr>
                <tr>
                    <th colspan="7">
                        <div class="input-group search-row">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <input st-search="" placeholder="Поиск" class="form-control" type="search" />
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody ng-show="loading.active()">
                <tr><td colspan="7"><div class="table-content" data-us-spinner=""></div></td></tr>
            </tbody>
            <tbody ng-show="!loading.active()">
                <tr ng-repeat="log in displayedLogs" data-ng-class="{warning: log.level === 'WARN', info: log.level === 'INFO', danger: log.level === 'FATAL' || log.level === 'ERROR'}">
                    <td>{{log.eventId}}</td>
                    <td>{{toLocalDate(log.timestampUtc) | date: 'medium'}}</td>
                    <td>{{log.type}}</td>
                    <td>{{log.level}}</td>
                    <td>{{log.user}}</td>
                    <td>{{log.message | truncate:50 }}</td>
                    <td class="text-center">
                        <button class="btn btn-default btn-xs" ng-click="exception(log)"><i class="glyphicon glyphicon-info-sign"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>