<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="VaBank.Common"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="FileLog"
        fileName="${basedir}/logs/${shortdate}.log"
        layout="${onexception:${newline}}${longdate} | ${pad:padding=5:inner=${level:uppercase=true}} | ${logger} | ${message}${onexception:${newline}${exception:format=ToString}}"/>
    <target xsi:type="Database" name="MaintenanceDbLog"
         dbProvider="System.Data.SqlClient, System.Data" keepConnection="false"
         connectionStringName="Vabank.Db"
         commandText="INSERT INTO [Maintenance].[SystemLog]([Application], [Level], [Type], [Source], [Message], [Exception], [User]) 
          VALUES(@Application, @Level, @Type, @Source, @Message, NULLIF(@Exception, ''), NULLIF(@User, ''))">
      <parameter name="@Application" layout="${literal:text=VaBank}"></parameter>
      <parameter name="@Type" layout="${logger:shortName=true}"></parameter>
      <parameter name="@Level" layout="${level:uppercase=true}"/>
      <parameter name="@Source" layout="${callsite:className=true} [${callsite:className=false:methodName=true}]"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Exception" layout="${exception:innerFormat=ToString,Data:maxInnerExceptionLevel=3:format=Data,Method:separator=&#13;&#10;}"/>
      <parameter name="@User" layout="${identity:isAuthenticated=false:authType=false:separator=}"/>
    </target>
    
  </targets>
</nlog>
