<section class="row">
    <div class="col-xs-12">
        <wizard hide-indicators="true" name="paymentWizard">
            <wz-step>
                <div class="panel panel-wizard panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Выбор услуги</h3>
                    </div>
                    <div class="panel-body" data-ng-include="'/Client/app/areas/customer/payments/payments-tree.html'">
                    </div>
                </div>
            </wz-step>
            <form data-form-for="payment" data-controller="paymentController" data-validation-rules="validators" data-submit-with="approve()">
                <wz-step>
                    <div class="panel panel-wizard panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{template.hierarchicalName}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h6 class="text-primary wizard-subtitle">Карта</h6>
                                    <div class="row grid-center" ng-repeat="card in cards">
                                        <div class="col-xs-1 text-center">
                                            <radio-field attribute="fromCardId" value="{{card.cardId}}"></radio-field>
                                        </div>
                                        <div class="col-xs-11">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <img class="img img-responsive card-logo" ng-src="{{card.cardVendor.image}}"/>
                                                </div>
                                                <div class="col-lg-8">
                                                    <b class="initialism">
                                                        {{card.friendlyName || card.cardVendor.name}}
                                                    </b>
                                                    <span class="text-muted">{{card.secureCardNo}}</span>
                                                    <p>{{card.balance | extcurrency:card.currency.symbol:card.currency.precision }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h6 class="text-primary wizard-subtitle">Параметры платежа</h6>
                                    <dynamic-field data-ng-repeat="(attribute, field) in template.formTemplate"
                                                   data-ng-if="attribute !== 'amount'"
                                                   attribute="form.{{attribute}}"
                                                   template="{{field.editor.name}}"
                                                   options="field.editor.options">
                                    </dynamic-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <dynamic-field template="currency"
                                                   attribute="form.amount"
                                                   options="template.formTemplate.amount.editor.options">
                                    </dynamic-field>
                                </div>
                            </div>
                            <a class="btn btn-default pull-left" ng-click="back()"><i class="glyphicon glyphicon-chevron-left"></i> Назад</a>
                            <a class="btn btn-primary pull-right" ng-click="continueToApproval()">Продолжить <i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>
                    </div>
                </wz-step>
                <wz-step>
                    <div class="panel panel-wizard panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Подтверждение операции</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h6 class="text-primary wizard-subtitle">
                                        Карта <span class="text-muted">{{card.cardholderFirstName}} {{card.cardholderLastName}}</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <img class="img img-responsive card-logo" ng-src="{{card.cardVendor.image}}"/>
                                        </div>
                                        <div class="col-lg-8">
                                            <b class="initialism">
                                                {{card.friendlyName || card.cardVendor.name}}
                                            </b>
                                            <span class="text-muted">{{card.secureCardNo}}</span>
                                            <p>{{card.balance | extcurrency:card.currency.symbol:card.currency.precision }}</p>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="smsConfirmationEnabled">
                                        <div class="col-xs-12">
                                            <h6 class="wizard-subtitle text-warning">
                                                Включено смс-подтверждение операций
                                                <span ng-show="!smsCodeSent">(<a class="action-link" ng-click="sendSmsCode()">выслать код</a>)</span>
                                            </h6>
                                            <masked-field disable="!smsCodeSent"
                                                          icon-before="glyphicon glyphicon-envelope"
                                                          attribute="securityCode.code"
                                                          label="СМС-код"
                                                          mask="999999"
                                                          placeholder="******">
                                            </masked-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h6 class="text-primary wizard-subtitle">
                                        Информация о платеже
                                    </h6>
                                    <table class="table table-responsive payment-fields">
                                        <tr>
                                            <td colspan="2" class="text-muted">
                                                {{template.hierarchicalName}}
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="(key, property) in template.formTemplate"
                                            data-ng-switch="property.editor.name">
                                            <td>
                                                {{property.editor.options.label}}
                                            </td>
                                            <td data-ng-switch-when="currency">
                                                {{payment.form[key] | extcurrency:'':property.editor.options.precision}}
                                                {{property.editor.options.isoName}}
                                            </td>
                                            <td data-ng-switch-default="">{{payment.form[key]}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-default" ng-show="!smsConfirmationEnabled || !smsCodeSent" ng-click="back()">
                                        <i class="glyphicon glyphicon-chevron-left"></i> Назад
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pull-right">
                                        <a class="btn btn-warning" ng-click="cancel()">Отменить</a>
                                        <submit-button button-class="btn btn-danger"
                                                       label="Подтвердить"
                                                       disable="!canApprove()">
                                        </submit-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </wz-step>
            </form>
            <wz-step>
                <div class="panel panel-wizard panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Операция подписана</h3>
                    </div>
                    <div class="panel-body">
                        <p>Операция подписана. В течение 3-х минут будет произведена попытка ее выполнить.</p>
                        <p>Просмотреть статус операции можно с <a ui-sref="customer.cards.accountStatement">выписке по счету</a>.</p>
                        <button class="btn btn-primary" ui-sref="customer.cards.list">
                            Перейти к моим картам
                        </button>
                    </div>
                </div>
            </wz-step>
            <wz-step>
                <div class="panel panel-wizard panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ошибка операции</h3>
                    </div>
                    <div class="panel-body">
                        <p>Во время операции произошла ошибка: </p>
                        <div class="text-danger">
                            <div data-ng-repeat="message in errorMessages">
                                {{message}}
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default" ui-sref="customer.cards.list">
                                Перейти к моим картам
                            </button>
                            <button class="btn btn-primary" data-ng-click="cancel()">
                                Попробовать заново
                            </button>
                        </div>

                    </div>
                </div>
            </wz-step>
        </wizard>
    </div>
</section>