<section class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <div class="row offset-bottom">
            <div class="col-xs-12">
                <b>Период</b>
                <ui-select ng-model="selectedRange" search-enabled="false" on-select="rangeSelected($item)">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="range in ranges">
                        {{range.name}}
                    </ui-select-choices>
                </ui-select>
                <div class="row date-range" data-ng-show="selectedRange.isCustom">
                    <div class="col-xs-6">
                        <vb-datepicker ng-model="filters.from"
                                       placeholder="С"
                                       data-config="{minView: 'day'}"
                                       data-date-format="DD.MM.YYYY"
                                       data-date-display-format="DD.MM.YYYY">
                        </vb-datepicker>
                    </div>
                    <div class="col-xs-6">
                        <vb-datepicker ng-model="filters.to"
                                       placeholder="По"
                                       data-config="{minView: 'day'}"
                                       data-date-format="DD.MM.YYYY"
                                       data-date-display-format="DD.MM.YYYY">
                        </vb-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="row offset-bottom">
            <div class="col-xs-12">
                <b>Название платежа</b>
                <ui-select ng-model="filters.paymentCode" search-enabled="false">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.code as item in paymentNames">
                        {{item.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row offset-bottom">
            <div class="col-xs-12">
                <b>Сумма платежа</b>
                <div class="row">
                    <div class="col-xs-5">
                        <ui-select ng-model="filters.amountOperator" search-enabled="false">
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in amountOperators">
                                {{item.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-7">
                        <vb-currency data-ng-model="filters.amount" symbol="ед."></vb-currency>
                    </div>
                </div>
            </div>
        </div>
        <div class="row offset-bottom">
            <div class="col-xs-12">
                <button class="btn btn-primary" data-ng-click="show()">Показать</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-nd-12 col-lg-9">
        <table class="table table-responsive payments-table"
               data-st-table="displayedPayments"
               data-st-safe-src="payments">
            <thead>
            <tr class="initialism warning">
                <th st-sort="paymentName">Название платежа / Реквизиты</th>
                <th class="text-center" st-sort="card.secureCardNo">Карта</th>
                <th class="text-center" st-sort="dateUtc">Дата платежа</th>
                <th class="text-center" st-sort="amount">Сумма</th>
                <th class="text-center" st-sort="status">Статус</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="payment in displayedPayments">
                <td>
                    <div><strong>{{payment.paymentName}}</strong>
                    </div>
                    <div class="text-muted">
                        <pre class="payment-info">{{payment.info}}</pre>
                    </div>
                </td>
                <td class="text-warning text-center">
                    <div>{{payment.card.secureCardNo}}</div>
                    <div data-ng-if="payment.card.friendlyName" class="text-muted">{{payment.card.friendlyName}}</div>
                </td>
                <td class="text-center">
                    <b>{{payment.dateUtc | localdate | amDateFormat: 'L'}}</b>
                </td>
                <td class="text-center">
                    <b>
                        {{payment.amount | extcurrency:'':payment.currency.precision }}
                        {{payment.currency.isoName}}
                    </b>
                </td>
                <td class="text-center" data-ng-switch="payment.status">
                    <div data-ng-switch-when="Pending" class="text-warning">
                        <i class="glyphicon glyphicon-time"></i> Принят банком
                    </div>
                    <div data-ng-switch-when="Completed" class="text-success">
                        <i class="glyphicon glyphicon-ok-circle"></i> Исполнен
                    </div>
                    <div data-ng-switch-when="Failed" class="text-danger">
                        <i class="glyphicon glyphicon-ok-circle"></i> Ошибка
                    </div>
                </td>
                <td class="text-center">
                    <div>
                        <a href="#" data-ui-sref="customer.payments.payment({paymentId: payment.operationId})">
                            <i class="glyphicon glyphicon-repeat"></i> Повторить
                        </a>
                    </div>
                    <div>
                        <a href="#" data-ng-click="details(payment)">
                            <i class="glyphicon glyphicon-info-sign"></i> Информация
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>