.payments-content {
    margin-top: 10px;
}

.payments-tree {
    .list-group-item {
        padding: 8px;
    }
}

.payment-fields {
    tbody > tr > td {
        border-top: none;
        border-bottom: 1px solid $table-border-color;
        &:first-child {
            font-weight: bold;
        }
    }
}

.payments-table {
    thead > tr > th {
        vertical-align: top;
    }

    tbody > tr > td {
        vertical-align: middle;

        .payment-info {
            background-color: inherit;
            border: none;
            color: inherit;
        }
    }
}

.payment-order {
    tbody > tr > td {
        &:first-child {
            font-weight: bold;
        }
    }
}