.payments-content {
    margin-top: 10px;
}

.payments-tree {
    .list-group-item {
        padding: 8px;
    }
}

.payment-fields {
    tbody > tr > td {
        border-top: none;
        border-bottom: 1px solid $table-border-color;
        &:first-child {
            font-weight: bold;
        }
    }
}