.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.offset-bottom {
    margin-bottom: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-content {
    text-align: middle;
    min-height: 200px;
    position: relative;
}

.tile {
    height: 250px;
    color: #ffffff;

    &.blue {
        background: #0d73c2;
    }

    &.gray {
        background: #cccccc;
    }

    &.azure {
        background: $brand-primary;
    }

    &.light-gray {
        background: $state-warning-bg;
    }

    &.vinous {
        background: #851313;
    }

    .title {
        margin-top: 0;
        color: white;
    }

    .table-condensed {
        margin: auto;
    }

    .tile-body {
        padding: 0 15px 15px 15px;
    }

    .badge {
        background-color: azure;
        color: gray;
        font-size: 14px;
    }

    .exchange-rates-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        padding: 0 15px 15px 15px;
    }

    .exchange-rates-table td {
        padding: 8px 0;
        text-align: right;
        vertical-align: middle;
    }

    .exchange-rates-table td:first-child {
        text-align: left;
    }

    .exchange-rates-table thead td {
        font-size: 16px;
    }

    .currency-col {
        font-weight: bold;
    }

    .exchange-rates-table .currency-col img {
        margin-right: 5px;
    }

    .exchange-rates-table tbody td {
        border-bottom: 1px solid #efefef;
    }

    .phone-big {
        font-size: 30px;
        vertical-align: middle;
    }

    .icon-phone {
        font-style: italic;
    }

    .footer {
        padding: 15px;
        font-size: 14px;
    }

    .footer-default {
        padding: 5px;
        font-size: 14px;
    }
}

a.action-link {
    cursor: pointer;
}