.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.offset-bottom {
    margin-bottom: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-content {
    text-align: middle;
    min-height: 200px;
    position: relative;
}

.cabinet-content {
    margin-top: 15px;
}

.tile {
    height: 326px;
    color: #ffffff;

    &.blue {
        background: #0d73c2;
    }

    &.grey {
        background: #cccccc;
    }

    &.azure {
        background: #88b8f8;
    }

    &.light-grey {
        background: #e5e1e1;
    }

    &.vinous {
        background: #851313;
    }

    .title {
        margin-top: 0;
        color: inherit;
    }

    .table-condensed {
        margin: auto;
    }

    .currency-body {
        padding: 0 15px 15px 15px;
    }

    .exchange-rates-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        padding: 0 15px 15px 15px;
    }

    .exchange-rates-table td {
        padding: 8px 0;
        text-align: right;
        vertical-align: middle;
    }

    .exchange-rates-table td:first-child {
        text-align: left;
    }

    .exchange-rates-table thead td {
        font-size: 16px;
    }

    .currency-col {
        font-weight: bold;
    }

    .exchange-rates-table .currency-col img {
        margin-right: 5px;
    }

    .exchange-rates-table tbody td {
        border-bottom: 1px solid #efefef;
    }

    .footer {
        padding: 15px;
        text-align: right;
        font-size: 14px;
    }
}

a.action-link {
    cursor: pointer;
}
