.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.offset-bottom {
    margin-bottom: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-content {
    text-align: middle;
    min-height: 200px;
    position: relative;
}

a.action-link {
    cursor: pointer;
}
