//Forms
.form-inline {
    .vb-datepicker {
        display: inline-block;
    }

    label {
        margin-right: 5px;
    }

    .multiSelect .button {
        display: inline-block;
    }
}

//Tables
.st-sort-descent:before {
    content: '\25BC';
}

.st-sort-ascent:before {
    content: '\25B2';
}
