//Forms
.form-inline {
    .vb-datepicker {
        display: inline-block;
    }

    .form-group {
        margin-left: 5px;
    }

    label {
        margin-right: 5px;
    }

    .multiSelect .button {
        display: inline-block;
    }

    .ui-select-bootstrap {
        display: inline-block;

        > .ui-select-match > .caret {
            position: relative;
            margin-bottom: 3px;
            top: 0;
            right: 0;
        }

        .ui-select-choices-row > a {
            white-space: normal;
        }
    }
}


//UI Select
.ui-select-bootstrap {
    button.form-control {
        border-color: transparent;
    }
}


//Form errors
.has-error {
    .input-group-addon {
        border: 0;
        background-color: transparent;
    }

    .input-group .form-control-feedback {
        top: 0;
        margin-right: 0;
    }

    .tooltip-inner {
        min-width: 200px;
        background-color: $state-danger-text;
    }

    .tooltip.right .tooltip-arrow {
        border-right-color: $state-danger-text;
    }
}

//Buttons 
.input-group-btn .btn {
    background: none;
    box-shadow: none;

    :hover {
        color: $link-hover-color
    }
}

//Tables
.st-sort-descent:before {
    content: '\25BC';
}

.st-sort-ascent:before {
    content: '\25B2';
}

.table {
    > tbody tr.st-selected > td {
        background-color: $state-success-bg;
    }
}

.table-striped {
    > tbody > tr.st-selected:nth-child(odd) > td {
        background-color: $state-success-bg;
    }
}

.table div.pagination {
    margin-top: 0;
    margin-bottom: 0;
}
