@* Generator: Template *@
@* Namespace: VaBank.UI.Web.Views *@
@inherits VaBank.UI.Web.Views.Index
@using System
@using System.Data.SqlClient
@using Dapper
@using Newtonsoft.Json
@inherits VaBank.UI.Web.Views.IndexBase
@{
    var json = string.Empty;
    var connectionString = System.Configuration.ConfigurationManager.ConnectionStrings["Vabank.Db"].ConnectionString;
    using (var connection = new SqlConnection(connectionString))
    {
        var results = connection.Query("SELECT TOP 30 * FROM [Maintenance].[Logs] ORDER BY [TimestampUtc] DESC");
        json = JsonConvert.SerializeObject(results, Formatting.Indented);
    }
}
@*<html>
<head>
    <title>VaBank</title>
</head>
<body>
    <h1>Hello, World!</h1>
    Current time: @DateTime.Now
    <a href="/admin/hangfire">Hangfire Admin</a>
    <pre>
        @json
    </pre>
</body>
</html>*@
<!DOCTYPE html>
<html data-ng-app="vabank.webapp">
    <head>
        <title>VaBank - Web</title>
        @Styles()
    </head>
    <body>
        <section id="root" data-ui-view=""></section>
        @Scripts()
    </body>
</html>
