@* Generator: Template *@
@* Namespace: VaBank.UI.Web.Views *@
@using System
<html>
    <head>
        <title>VaBank</title>
    </head>
    <body>
        <h1>Hello, World!</h1>
        Current time: @DateTime.Now
    </body>
</html>
