@* Generator: Template *@
@* Namespace: VaBank.UI.Web.Views *@
@inherits VaBank.UI.Web.Views.Index
@inherits VaBank.UI.Web.Views.IndexBase
<!DOCTYPE html>
<html data-ng-app="vabank.webapp" lang="ru">
    <head>
        <title>VaBank - Web</title>
        <meta charset="utf-8">
        @Styles()
    </head>
    <body>
        <section id="root" data-ui-view=""></section>
        @Scripts()
    </body>
</html>
