<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a data-ui-sref="customer.cabinet"><img class="img-responsive sidebar-logo" src="/Client/app/images/logo/vabank-small.png" /></a>
            </li>
            <li data-ui-sref="customer.cabinet"
                ng-class="{active: $state.includes('customer.cabinet')}">
                <a><i class="glyphicon glyphicon-home"></i> Мой кабинет</a>
            </li>
            <li data-ui-sref="customer.cards.list"
                ng-class="{active: $state.includes('customer.cards')}">
                <a><i class="glyphicon glyphicon-credit-card"></i> Мои карточки</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-usd"></i> Платежи</a></li>
            <li data-ui-sref="customer.profile.edit"
                ng-class="{active: $state.includes('customer.profile')}">
                <a><i class="glyphicon glyphicon-user"></i> Профиль</a>
            </li>
            <li data-ng-click="logout()"><a><i class="glyphicon glyphicon-off"></i> Выход</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <section class="row">
                <div class="col-xs-8 col-sm-7 col-lg-9">
                    <h3 class="page-title">{{header}}</h3>
                </div>
                <nav class="col-xs-4 col-sm-5 col-lg-3">
                    <div class="btn-group pull-right">
                        <button data-ui-sref="customer.cabinet" type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-home"></i>
                        </button>
                        <button data-ng-click="back()" type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                        </button>
                        <button data-ng-click="forward()" type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                    </div>
                </nav>
            </section>
            <section data-ui-view="" class="customer-content"></section>
        </div>
    </div>
</div>