/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    font:small-caption;
}

.sidebar-logo{
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    > li > a {
        padding-right: 20px;
        padding-left: 20px;
    }

    > .active {
        a, a:hover, a:focus {
            color: #fff;
            background-color: #428bca;
        }
    }
}

/*
 * Main content
 */
.main {
    padding: 20px;

    .page-header {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.page-title {
    margin: 0;
}
