<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--TODO: add provider name-->
    <add name="Vabank.Db.Maintenance" 
         providerName="System.Data.SQLite"
         connectionString="Data Source=|DataDirectory|\Vabank.Maintenance.sqlite;Version=3;Pooling=True;Max Pool Size=100;FailIfMissing=False;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>