<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <add name="Vabank.Db" 
         providerName="System.Data.SqlClient"
         connectionString="Server=(LocalDb)\Projects;Integrated Security=True;Initial Catalog=Vabank.Database"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <nlog>
    <include file="${basedir}\Configs\NLog.config"></include>
  </nlog>
</configuration>