<section class="row offset-bottom">
    <div class="col-lg-4 col-md-12 card-statement-filters">
        <div class="row" data-ng-if="statement">
            <div class="col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Выписка по карт-счету №{{statement.accountNo}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <b>Период</b><br />
                                        C {{toLocalDate(statement.dateRange.lowerBound) | amDateFormat:'LL' }} по
                                        {{toLocalDate(statement.dateRange.upperBound) | amDateFormat:'LL' }}
                                    </div>
                                    <div class="col-xs-5">
                                        <b>Дата и время создания</b><br />
                                        {{toLocalDate(statement.createdDateUtc) | amDateFormat:'LLL' }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <b>Клиент</b><br />
                                        {{statement.accountOwner.firstName}} {{statement.accountOwner.lastName}}
                                    </div>
                                    <div class="col-xs-4">
                                        <b>Номер счета</b><br />
                                        {{statement.accountNo}}
                                    </div>
                                    <div class="col-xs-4">
                                        <b>Валюта</b><br />
                                        {{statement.accountCurrency.isoName}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <b class="text-primary">Балансовая активность</b>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <b>Списано:</b>
                                                {{-statement.statementWithdrawals | extcurrency:'':statement.accountCurrency.precision}}
                                                {{statement.accountCurrency.isoName}}<br />
                                                <b>Начислено:</b>
                                                {{statement.statementDeposits | extcurrency:'':statement.accountCurrency.precision}}
                                                {{statement.accountCurrency.isoName}}
                                            </div>
                                            <div class="col-xs-4">
                                                <b>Баланс за период:</b><br />
                                                <b data-ng-class="{'text-success': statement.statementBalance > 0, 'text-danger': statement.statementBalance < 0}">
                                                    {{statement.statementBalance | extcurrency:'':statement.accountCurrency.precision}}
                                                    {{statement.accountCurrency.isoName}}
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b>Период</b>
                <ui-select ng-model="selectedRange" search-enabled="false" on-select="rangeSelected($item)">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="range in ranges">
                        {{range.name}}
                    </ui-select-choices>
                </ui-select>
                <div class="form-inline" data-ng-show="selectedRange.isCustom">
                    <div class="form-group date-range">
                        <label>С</label>
                        <vb-datepicker ng-model="fromDate"
                                       placeholder="С"
                                       data-config="{minView: 'day'}"
                                       data-date-format="DD.MM.YYYY"
                                       data-date-display-format="LL">
                        </vb-datepicker>
                    </div>
                    <div class="form-group date-range">
                        <label>По</label>
                            <vb-datepicker ng-model="toDate"
                                           placeholder="По"
                                           data-config="{minView: 'day'}"
                                           data-date-format="DD.MM.YYYY"
                                           data-date-display-format="LL">
                            </vb-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b>Карт-счет</b>
                <ui-select ng-model="account.selected" search-enabled="false">
                    <ui-select-match placeholder="Выберите счет">
                        {{$select.selected.accountNo}}
                        <span class="text-info">
                            {{$select.selected.balance | extcurrency:'':$select.selected.currency.precision }}
                            {{$select.selected.currency.isoName}}
                        </span>
                        (<ng-pluralize count="$select.selected.cards.length"
                                       when="{'one': '1 карта', 'few': '{} карты', 'many': '{} карт'}">
                        </ng-pluralize>)
                    </ui-select-match>
                    <ui-select-choices repeat="account in accounts">
                        <div class="row">
                            <div class="col-xs-12">
                                <b>
                                    Счет №{{account.accountNo}}
                                </b>
                                <span class="label label-warning">{{account.currency.isoName}}</span>
                            </div>
                        </div>
                        <div class="row" data-ng-repeat="card in account.cards">
                            <div class="col-xs-2">
                                <img class="img-responsive" data-ng-src="{{card.cardVendor.image}}" />
                            </div>
                            <div class="col-xs-10 vertical">
                                <div>{{card.secureCardNo}}</div>
                                <div data-ng-if="card.friendlyName" class="text-muted">
                                    {{card.friendlyName}}
                                </div>
                            </div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="loadStatement()" data-ng-disabled="!canLoadStatement()">Сформировать</button>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <section class="row" data-ng-show="loading.active()">
            <div class="col-xs-12">
                <div data-us-spinner="" style="height: 300px"></div>
            </div>
        </section>
        <section data-ng-if="!loading.active() && statement" class="row">
            <div class="col-xs-12">
                <table class="table table-responsive card-statement-table" st-table="displayedTransactions" st-safe-src="statement.transactions">
                    <thead>
                        <tr>
                            <th st-sort="status" st-skip-natural="true" style="max-width: 60px">Статус</th>
                            <th st-sort="createdDateUtc" st-sort-default="reverse">Дата совершения транзакции</th>
                            <th st-sort="postDateUtc">Дата отражения по счету</th>
                            <th st-sort="card.secureCardNo">Карта</th>
                            <th st-sort="descritpion">Описание транзакции</th>
                            <th>+/-</th>
                            <th st-sort="transactionAmount">Сумма в валюте операции</th>
                            <th st-sort="accountAmount">Сумма в валюте счета</th>
                            <th st-sort="remainingBalance">Остаток</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="transaction in displayedTransactions">
                            <td>
                                <i class="glyphicon glyphicon-ok-circle text-success"
                                   data-ng-if="transaction.status === 'Completed'" tooltip="Завершена">
                                </i>
                                <i class="glyphicon glyphicon-time text-warning"
                                   data-ng-if="transaction.status === 'Pending'" tooltip="Сумма блокирована">
                                </i>
                                <i class="glyphicon glyphicon-remove-circle text-danger"
                                   data-ng-if="transaction.status === 'Failed'" tooltip="Ошибка: {{transaction.errorMessage}}">
                                </i>
                            </td>
                            <td>
                                <b>{{ toLocalDate(transaction.createdDateUtc) | amDateFormat: 'L'}}</b><br />
                                {{ toLocalDate(transaction.createdDateUtc) | amDateFormat: 'HH:mm:ss'}}
                            </td>
                            <td>
                                <b data-ng-if="transaction.postDateUtc">
                                    {{toLocalDate(transaction.postDateUtc) | amDateFormat: 'L'}}
                                </b>
                            </td>
                            <td>
                                <span class="text-warning">{{transaction.card.secureCardNo}}</span>
                                <div class="text-muted">{{transaction.card.friendlyName}}</div>
                            </td>
                            <td>
                                {{transaction.description}}<br />
                                <span class="text-muted">{{transaction.location}}</span>
                            </td>
                            <td>
                                <i class="glyphicon"
                                   data-ng-class="{'glyphicon-plus': transaction.transactionAmount > 0, 'glyphicon-minus': transaction.transactionAmount < 0}">
                                </i>
                            </td>
                            <td>
                                {{abs(transaction.transactionAmount)| extcurrency:'':transaction.currency.precision}}<br />
                                <span class="text-muted">{{transaction.currency.isoName}}</span>
                            </td>
                            <td>
                                {{abs(transaction.accountAmount)| extcurrency:'':statement.accountCurrency.precision}}<br />
                                <span class="text-muted">{{statement.accountCurrency.isoName}}</span>
                            </td>
                            <td>
                                {{abs(transaction.remainingBalance)| extcurrency:'':statement.accountCurrency.precision}}<br />
                                <span class="text-muted">{{statement.accountCurrency.isoName}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <div st-pagination="" st-items-by-page="8" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</section>