<div class="row" ng-form="" name="limitsForm">
    <div class="col-xs-6">
        <div class="form-horizontal">
            <div class="form-group"
                 ng-class="{'has-error': limitsForm.operationsPerDayLocal.$invalid, 'has-feedback': limitsForm.operationsPerDayLocal.$invalid}">
                <label class="control-label col-xs-6">Лимит на количество операций в день, в РБ:</label>
                <div class="col-xs-6">
                    <input class="form-control"
                           name="operationsPerDayLocal"
                           ng-model="limits.operationsPerDayLocal"
                           type="number" />
                </div>
                <span ng-if="limitsForm.operationsPerDayLocal.$invalid"
                      class="glyphicon glyphicon-remove form-control-feedback"
                      tooltip="Недопустимое значение лимита"
                      tooltip-placement="right">
                </span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': limitsForm.operationsPerDayAbroad.$invalid, 'has-feedback': limitsForm.operationsPerDayAbroad.$invalid}">
                <label class="control-label col-xs-6">Лимит на количество операций в день, вне РБ:</label>
                <div class="col-xs-6">
                    <input name="operationsPerDayAbroad"
                           class="form-control"
                           ng-model="limits.operationsPerDayAbroad"
                           type="number" />
                    <span ng-if="limitsForm.operationsPerDayAbroad.$invalid"
                          class="glyphicon glyphicon-remove form-control-feedback"
                          tooltip="Недопустимое значение лимита"
                          tooltip-placement="right">
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-6">
        <div class="form-horizontal">
            <div class="form-group"
                 ng-class="{'has-error': limitsForm.amountPerDayLocal.$invalid, 'has-feedback': limitsForm.amountPerDayLocal.$invalid}">
                <label class="control-label col-xs-6">Лимит на cумму в день, в РБ:</label>
                <div class="col-xs-6">
                    <vb-currency name="amountPerDayLocal"
                                 ng-model="limits.amountPerDayLocal"
                                 symbol="{{card.currency.symbol}}">
                    </vb-currency>
                    <span ng-if="limitsForm.amountPerDayLocal.$invalid"
                          class="glyphicon glyphicon-remove form-control-feedback"
                          tooltip="Недопустимое значение лимита"
                          tooltip-placement="left">
                    </span>
                </div>

            </div>
            <div class="form-group"
                 ng-class="{'has-error': limitsForm.amountPerDayAbroad.$invalid, 'has-feedback': limitsForm.amountPerDayAbroad.$invalid}">
                <label class="control-label col-xs-6">Лимит на сумму в день, вне РБ:</label>
                <div class="col-xs-6">
                    <vb-currency name="amountPerDayAbroad"
                                 ng-model="limits.amountPerDayAbroad"
                                 symbol="{{card.currency.symbol}}" />
                    <span ng-if="limitsForm.amountPerDayAbroad.$invalid"
                          class="glyphicon glyphicon-remove form-control-feedback"
                          tooltip="Недопустимое значение лимита"
                          tooltip-placement="left">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <div class="pull-right">
            <button class="btn btn-default btn-sm " ng-click="cancelLimits(limitsForm)" ng-disabled="limitsForm.$pristine">Отмена</button>
            <button class="btn btn-danger btn-sm " ng-click="updateLimits()" ng-disabled="limitsForm.$invalid">Обновить лимиты</button>
        </div>
    </div>
</div>