<section class="row">
    <div class="col-xs-12">
        <table class="table table-responsive card-list" align="center">
            <thead>
                <tr class="initialism">
                    <th>Карта</th> 
                    <th>Баланс</th>
                    <th>Срок действия карты</th>
                    <th>Статус блокировки</th>
                    <th>Смс оповещения</th>
                </tr>
            </thead>
            <tbody ng-repeat="card in cards">
                <tr>
                    <td class="row">
                        <div class="col-xs-2">
                            <a><img src="/Client/app/images/icons/maestro-curved-32px.png"></a>
                        </div>
                        <div class="col-xs-10">
                            <p class="text-left">{{card.name}} <i class="glyphicon glyphicon-edit" ng-click=""></i></p>
                            <p class="text-left">*Номер карты</p>
                            <p class="text-left">Обладатель: {{}}</p>
                            <a ng-click="isCollapsed = !isCollapsed">Установка лимитов на карту</a>
                        </div>
                    </td>
                    <td>{{ card.balance }} BYR</td>
                    <td>{{  }}</td>
                    <td>{{ card.block }}</td>
                    <td>{{  }}</td>
                </tr>
                <tr>
                    <td colspan="5" class="limits">
                        <div collapse="isCollapsed" class="form-inline">
                            <div class="col-xs-6">
                                <div>
                                    <label>Лимит на количество операций в день, в РБ:</label>
                                    <input type="number" min="0" class="form-control">
                                </div>
                                <div>
                                    <label>Лимит на сумму в день, в РБ:</label>
                                    <input type="number" min="0" step="50" class="form-control">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div>
                                    <label>Лимит на количество операций в день, вне РБ:</label>
                                    <input type="number" min="0" class="form-control">
                                </div>
                                <div>
                                    <label>Лимит на сумму в день, вне РБ:</label>
                                    <input type="number" min="0" step="50" class="form-control">
                                </div>
                                <button class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
