.my-cards-content {
    padding-top: 10px;
}

.card-list.table {
    thead > tr > th {
        vertical-align: middle;
        text-align: center;
    }

    tbody > tr > td {
        vertical-align: middle;
        padding: 16px;

        &.balance {
            text-align: center;
            font-weight: bold;
        }

        &.limits {
            .form-group {
                margin-bottom: 5px;
            }
        }
    }
}

.card-info-cell {
    width: 450px;
}

.card-info p {
    margin-bottom: 5px;
}

.card-name-editor {
    max-width: 300px;
}

img.card-statement-card {
    max-height: 20px;
}

.card-statement-filters {
    div.row {
        margin-bottom: 10px;
    }
}

.card-statement-table {
    thead {
        tr th {
            vertical-align: top;
        }
    }
}

.padding-for-label{
    padding-top: 10px;
}