.my-cards-content {
    margin-top: 30px;
}
.from-date, .to-date {
    .input-group {
        width: 170px;
    }
}
.card-list.table {
    thead > tr > th,td {
        text-align:center;
        vertical-align:middle;
                width: 20%;

        &.limits {
          text-align: right;
        }
    }
}
