<section class="row transfer">
    <div class="col-xs-12">
        <form form-for="transferForm"
              controller="transferFormController"
              validation-rules="validationRules"
              validate-on="manual"
              submit-with="approve()">
            <wizard hide-indicators="true" name="transferWizard">
                <wz-step>
                    <div class="panel panel-wizard panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Выбор карты</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h6 class="text-primary wizard-subtitle">Отправитель</h6>
                                    <div class="row grid-center" ng-repeat="card in cards">
                                        <div class="col-xs-1 text-center">
                                            <radio-field attribute="fromCardId" value="{{card.cardId}}"></radio-field>
                                        </div>
                                        <div class="col-xs-11">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <img class="img img-responsive card-logo" ng-src="{{card.cardVendor.image}}" />
                                                </div>
                                                <div class="col-lg-8">
                                                    <b class="initialism">
                                                        {{card.friendlyName || card.cardVendor.name}}
                                                    </b>
                                                    <span class="text-muted">{{card.secureCardNo}}</span>
                                                    <p>{{card.balance | extcurrency:card.currency.symbol:card.currency.precision }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h6 class="text-primary wizard-subtitle">Получатель</h6>
                                    <fieldset>
                                        <radio-field label="Моя карта"
                                                     attribute="cardSource"
                                                     value="my"
                                                     disable="cannotDoPersonalTransfer">
                                        </radio-field>
                                        <radio-field label="Карта VaBank"
                                                     disable="cannotDoPersonalTransfer"
                                                     attribute="cardSource"
                                                     value="vabank">
                                        </radio-field>
                                    </fieldset>
                                    <div ng-show="transferForm.cardSource === 'my'">
                                        <dropdown-field attribute="toCardId"
                                                        items="cards"
                                                        placeholder="Выберите карту"
                                                        repeat="item.cardId as item in items | filter: canBeDestinationCard"
                                                        search-enabled="false"
                                                        display-attribute="friendlyName || cardVendor.name"
                                                        export-scope="transferForm,canBeDestinationCard">
                                            {{item.friendlyName || item.cardVendor.name}} <span class="text-muted">{{item.secureCardNo}}</span>
                                        </dropdown-field>
                                    </div>
                                    <div ng-show="transferForm.cardSource === 'vabank'">
                                        <masked-field attribute="toCard.cardNumber"
                                                      mask="9999 9999 9999 9999"
                                                      placeholder="•••• •••• •••• ••••"
                                                      label="Номер карты">
                                        </masked-field>
                                        <masked-field attribute="toCard.expiration"
                                                      mask="99.99"
                                                      placeholder="мм.гг"
                                                      label="Срок действия">
                                        </masked-field>
                                    </div>
                                </div>
                            </div>
                            <currency-field attribute="amount"
                                            label="Сумма перевода"
                                            symbol="{{getSourceCard().currency.symbol}}"
                                            precision="{{getSourceCard().currency.precision}}">
                            </currency-field>
                            <a class="btn btn-default pull-right" ng-click="continue()"><i class="glyphicon glyphicon-chevron-right"></i> Продолжить</a>
                        </div>

                    </div>
                </wz-step>
                <wz-step>
                    <div class="panel panel-wizard panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Подтверждение операции</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h6 class="text-primary wizard-subtitle">
                                        Отправитель <span class="text-muted">{{sourceCard.cardholderFirstName}} {{sourceCard.cardholderLastName}}</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <img class="img img-responsive card-logo" ng-src="{{sourceCard.cardVendor.image}}" />
                                        </div>
                                        <div class="col-lg-8">
                                            <b class="initialism">
                                                {{sourceCard.friendlyName || sourceCard.cardVendor.name}}
                                            </b>
                                            <span class="text-muted">{{sourceCard.secureCardNo}}</span>
                                            <p>{{sourceCard.balance | extcurrency:sourceCard.currency.symbol:sourceCard.currency.precision }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <h6 class="text-primary wizard-subtitle">Сумма</h6>
                                    <h5>{{transferForm.amount | extcurrency: sourceCard.currency.symbol:sourceCard.currency.precision}}</h5>
                                </div>
                                <div class="col-xs-5">
                                    <h6 class="text-primary wizard-subtitle">
                                        Получатель
                                        <span ng-if="transferForm.cardSource === 'my'" class="text-muted">
                                            {{destinationCard.cardholderFirstName}} {{sourceCard.cardholderLastName}}
                                        </span>
                                    </h6>
                                    <div class="row" ng-if="transferForm.cardSource === 'my'">
                                        <div class="col-lg-2">
                                            <img class="img img-responsive card-logo" ng-src="{{destinationCard.cardVendor.image}}" />
                                        </div>
                                        <div class="col-lg-8">
                                            <b class="initialism">
                                                {{destinationCard.friendlyName || destinationCard.cardVendor.name}}
                                            </b>
                                            <span class="text-muted">{{destinationCard.secureCardNo}}</span>
                                            <p>{{destinationCard.balance | extcurrency:destinationCard.currency.symbol:destinationCard.currency.precision }}</p>
                                        </div>
                                    </div>
                                    <div ng-if="transferForm.cardSource === 'vabank'">
                                        <p><b>Номер карты: </b>{{destinationCard.cardNumber | cardnumber }}</p>
                                        <p><b>Срок действия: </b>{{destinationCard.expiration | expdate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="smsConfirmationEnabled">
                                <div class="col-xs-12">
                                    <h6 class="wizard-subtitle text-warning">
                                        Включено смс-подтверждение операций
                                        <span ng-show="!smsCodeSent">(<a class="action-link" ng-click="sendSmsCode()">выслать код</a>)</span>
                                    </h6>
                                    <masked-field disable="!smsCodeSent"
                                                  icon-before="glyphicon glyphicon-envelope"
                                                  attribute="securityCode.code"
                                                  label="СМС-код"
                                                  mask="999999"
                                                  placeholder="******">
                                    </masked-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-default" ng-show="!smsConfirmationEnabled || !smsCodeSent" ng-click="back()">
                                        <i class="glyphicon glyphicon-chevron-left"></i> Назад
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pull-right">
                                        <a class="btn btn-warning" ng-click="cancel()">Отменить</a>
                                        <submit-button button-class="btn btn-danger"
                                                       label="Подтвердить"
                                                       disable="!canApprove()">
                                        </submit-button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </wz-step>
                <wz-step>
                    <div class="panel panel-wizard panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Операция подписана</h3>
                        </div>
                        <div class="panel-body">
                            <p>Операция подписана. В течение 3-х минут будет произведена попытка ее выполнить.</p>
                            <p>Просмотреть статус операции можно в <a ui-sref="customer.cards.accountStatement">выписке по счету</a>.</p>
                            <button class="btn btn-primary" ui-sref="customer.cards.list">
                                Перейти к моим картам
                            </button>
                        </div>
                    </div>
                </wz-step>
                <wz-step>
                    <div class="panel panel-wizard panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ошибка операции</h3>
                        </div>
                        <div class="panel-body">
                            <p>Во время операции произошла ошибка: </p>
                            <div class="text-danger">
                                <div data-ng-repeat="message in errorMessages">
                                    {{message}}
                                </div>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn btn-default" ui-sref="customer.cards.list">
                                    Перейти к моим картам
                                </button>
                                <button class="btn btn-primary" data-ng-click="cancel()">
                                    Попробовать заново
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </wz-step>
            </wizard>
        </form>
    </div>
</section>
