<section class="row">
    <div class="hidden-xs hidden-sm hidden-md col-lg-3">
        <div class="panel tile azure">
            <div class="panel-heading">
                <h4 class="title">Профиль</h4>
            </div>
            <div class="panel-body tile-body">
                <div class="img-center">
                    <img class="img img-responsive profile-logo" src="/Client/app/images/icons/common/profile.png">
                </div>
            </div>
            <div class="footer-profile text-center">
                <a class="action-link text-white" data-ui-sref="customer.profile.edit">
                    {{userProfile.firstName}} {{userProfile.lastName}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div data-ng-include="'/Client/app/areas/customer/cabinet/my-cards-widget.html'"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="panel tile vinous" ng-controller="localRatesWidgetController">
            <div class="panel-heading">
                <div class="col-xs-10">
                    <h4 class="title">Курсы валют</h4>
                </div>
                <div class="col-xs-2 spinner-container">
                    <div ng-show="loading.active()" 
                         data-us-spinner="{lines:7, radius:3, length: 4, width:4, color:'white', left:'initial'}">
                    </div>
                </div>
            </div>
            <div class="panel-body tile-body" ng-if="!loading.active()">
                <table class="exchange-rates-table">
                    <thead>
                        <tr>
                            <td><span class="badge">{{lastUpdatedUtc | amDateFormat:'L'}}</span></td>
                            <td>Покупка</td>
                            <td>Продажа</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rate in rates">
                            <td class="currency-col">
                                <img ng-src="/Client/app/images/icons/currency/{{rate.foreignCurrency.isoName}}.png">
                                <span>{{rate.foreignCurrency.isoName}}</span>
                            </td>
                            <td>{{rate.buyRate | extcurrency:'':rate.baseCurrency.precision}}</td>
                            <td>{{rate.sellRate | extcurrency:'':rate.baseCurrency.precision}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="footer">Обновлено: {{lastUpdatedUtc | amDateFormat:'LLL'}}</div>
            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="hidden-xs col-sm-12 col-md-7 col-lg-9">
        <div class="panel tile gray">
            <div class="panel-heading">
                <h4 class="title">Платежи</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3">
        <div class="panel tile blue" id="consultant">
            <div class="consultant">
                <div class="panel-heading">
                    <h4 class="title">VaBank - Консультант</h4>
                </div>
                <div class="panel-body tile-body">
                    <span class="phone-big">
                        911
                        <i class="glyphicon glyphicon-earphone icon-phone"></i>
                    </span>
                    <span class="badge">Круглосуточно</span>
                </div>
                <div class="footer">
                    <ul class="phone-list">
                        <li>
                            <p class="phone-number"> + 375 (29)</p>
                            <p class="phone-number"><b>173-21-50</b></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>