.cabinet-content {
    margin-top: 15px;
}

.consultant {
    background-image: url("/Client/app/images/icons/common/consultant.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.phone-big {
    font-size: 30px;
    vertical-align: middle;
}

.icon-phone {
    font-style: italic;
}

.phone-list {
    padding: 22px 0 23px;
    list-style: none;

    .phone-number {
        font-size: 20px;
        margin: auto;
    }
}

.cards-carousel {
    .carousel-control.left {
        background-image: inherit;
        color: black;
        //margin-left: -25px;
    }

    .carousel-control.right {
        background-image: inherit;
        color: black;
        //margin-right: -25px;
    }

    .carousel-indicators {
        display: none;
    }

    .card-logo {
        max-height: 64px;
        margin: auto;
    }

    .img-card {
        padding-top: 15px;
    }

    .screen-lg {
        font-size: 18px;
    }

    .screen-md {
        font-size: 12px;
    }

    .carousel-control .glyphicon-chevron-left {
        //margin-top: -35px;
    }

    .carousel-control .glyphicon-chevron-right {
        //margin-top: -35px;
    }

    .text-vinous {
        margin: 0;
    }
}

.text-vinous {
    color: #851313;
}

.text-darkgreen {
    color: darkgreen;
}

.text-white {
    color: white;
}

.profile-logo {
    max-height: 124px;
    margin: auto;
}