<div class="panel tile gray payments-widget" data-ng-controller="paymentsWidgetController">
    <div data-ng-show="loading.active()"
         class="spinner"
         data-us-spinner="{lines:7, radius:3, length: 4, width:4, color:'white', left:'initial'}"
         style="position: absolute; top: 20px; right: 37px">
    </div>
    <section data-ng-if="popularPayments.length > 0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <div class="panel-heading">
                <h4 class="title">Платежи</h4>
            </div>
            <div class="panel-body payment-links-container">
                <ul class="media-list">
                    <li class="media"
                        data-ng-repeat="payment in popularPayments"
                        data-ng-click="pay(payment.code)">
                        <a class="pull-left" href="#">
                            <img class="payment-image" data-ng-src="Client/app/images/icons/payments/{{payment.code}}.png"/>
                        </a>
                        <div class="media-body payment-name">
                            {{payment.name}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-2 text-right costs-chart-legend" data-ng-if="costs">
            <h5>Платежи за последние 3 месяца</h5>
            <b class="text-primary">Карта "{{costs.card.friendlyName || costs.card.cardVendor.name}}" {{costs.currency.isoName}}</b>
            <p>{{costs.card.secureCardNo}}</p>
            <h5 class="text-danger">
                {{costs.total | extcurrency:'':costs.currency.precision}} {{costs.currency.isoName}}
            </h5>
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-5" data-ng-if="costs">
            <div google-chart="" chart="chart"></div>
        </div>
    </section>
    <section data-ng-if="!loading.active() && popularPayments.length === 0">
        <div class="panel-heading">
            <h4 class="title">Платежи</h4>
        </div>
        <div class="panel-body no-payments-data">
            <div class="media">
                <div class="pull-left media-image">
                    <img src="/Client/app/images/icons/common/sad.png" alt="Sad" style="max-height: 150px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Попробуйте платежи от ВаБанка!</h4>
                    <p>Мы очень расстроены тем, что Вы еще не совершили ни одного платежа :(</p>
                    <div>
                        <button class="btn btn-primary btn-go-pay" data-ui-sref="customer.payments.payment">Перейти к платежам</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>