<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="FluentValidation" version="5.4.0.0" targetFramework="net45" />
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="SimpleCrypto" version="0.3.30.26" targetFramework="net45" />
</packages>