.transaction-user-search {
    min-width: 200px;
    input {
        min-width: 200px;
    }
}

.transaction-details-table {
    tbody tr {
        td:first-child {
            font-weight: bold;
        }
    }
}

.transaction-details-content {
    padding-top: 0;
}